doctype html
html
    head
        title Caixa-eletronico
        meta(charset="utf-8" content="width=device-width,initial-scale=1,shrink-to-fit=no")
        link(rel="stylesheet" href="assets/scss/style.css")
    body

        .container-lg
            div.ex15                
                input#valor-saque(type="text" placeholder="valor do saque")
                p.label-quantidades insira as quantidades disponiveis
                .column-quantias
                input#quantidade-200(type="text" placeholder='200 reais')
                input#quantidade-100(type="text" placeholder='100 reais')
                input#quantidade-50(type="text" placeholder='50 reais')
                input#quantidade-20(type="text" placeholder='20 reais')
                input#quantidade-10(type="text" placeholder='10 reais')
                input#quantidade-5(type="text" placeholder='5 reais')
                input#quantidade-2(type="text" placeholder='2 reais')
                button#btn-calcular-notas(onclick='Calcular()') calcular notas
                button#btn-limpar Limpar
            div.list
                p#quantia-max
                ul#list-result
        script.
                document.getElementById('btn-limpar').onclick = ()=>{
                    const lista = document.getElementById('list-result')
                    const frase = document.getElementById('quantia-max')
                    lista.innerHTML = ''
                    frase.innerHTML = ''
                }
       
    script(src="assets/js/notasBanco.js")

       
