@import '_functions';
@import '_variables';
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.hello {
    @include buttonBot(#9acd32, #9acd32);
}
.hello:hover{
    @include btnHover(#85b329, #85b329);
}
.ex1{
    @include centralizar();
    @include borderBlack();
    border-radius:$border-radius;
    width: 60vh;
    height: 48vh;
    flex-wrap: wrap;
    .row{
        margin-bottom: -20vh;
        margin-right: 0px !important;
        margin-left: 44px !important;
        .nameDiv, .last-nameDiv{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .last-nameDiv{
            margin-left: -6vh;
        }
    }
}
.ex2{
    @include centralizar();
    @include borderBlack();
    flex-wrap: wrap;
    border-radius:$border-radius;
    height: 51vh;
    width: 39vh;
    .violet{
        @include buttonBot(#701f70, #701f70);
    }
    .violet:hover{
        @include btnHover(#5e185e, #5e185e);
    }
    .strgreen{
        @include buttonBot(#28a745, #28a745);
    }
    .strgreen:hover{
        @include btnHover(#1e7e34, #1e7e34);
    }
}
.ex3 {
    @include centralizar();
    @include borderBlack();
    padding: 15vh;
    .green{
        @include buttonBot(#06f706, #06f706);
    }
    .green:hover{
        @include btnHover(rgba(6, 247, 6, 0.671), rgba(6, 247, 6, 0.671));
    }
    .red{
        @include buttonBot(#f50303, #f50303);
    }
    .red:hover{
        @include btnHover(#d40404, #d40404);
    }
}
.ex4{
    @include centralizar();
    @include borderBlack();
    flex-direction: column;
    padding: 10vh;
    margin-top: 2%;
    .cpf1{
        display: flex;
        margin-left: 12vh;
        align-items: center;
        flex-direction: row;
    }
    .cpf2{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .bcpf2, .cpf{
        @include buttonBot(#f3e62c, #f3e62c);
        margin-top: 1em;
        margin-left: 1vh;
    }
    .bcpf2:hover, .cpf:hover{
        @include btnHover(#fffb00e3, #fffb00e3);
    }
}
.ex5{
    @include centralizar();
    @include borderBlack();
    padding: 5vh;
    #load{
        display: none;
    }
}
.loaded {
    @include buttonBot(#cd3732, #cd3732);
}
.loaded:hover{
    @include btnHover(#bd2621, #bd2621)
}
.row-ex6{
    @include borderBlack();
    flex-wrap: wrap;
    padding: 1px 20px 14px 20px;
    .result{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1vh;
        height: 4vh;
        .col-result{
            @include borderBlack();
            border: #0c4b7e 2px solid;
            display: none;
            padding: 1px 4px 1px 4px;
            font-weight: 700;
            color: blue;
        }
    }
    #soma1{
        margin-left: 1vh;
    }
    #soma1, #soma2{
        width: 12vh;
    }
    #btn-soma{
        @include buttonBot(#32cda6, #32cda6);
    }
    #btn-soma:hover{
        @include btnHover(#16ad88, #16ad88)
    }
}
.row-ex7{
    @include borderBlack();
    flex-wrap: wrap;
    padding: 1px 20px 14px 20px;
    .desconto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1vh;
        height: 4vh;
        .col-desconto{
            @include borderBlack();
            border: #10b467 2px solid;
            display: none;
            padding: 1px 4px 1px 4px;
            font-weight: 700;
            color: rgb(12, 204, 76);
        }
    }
    #valor{
        margin-left: 1vh;
    }
    #valor, #desconto{
        width: 12vh;
    }
    #btn-descontar{
        @include buttonBot(#0dec18, #0dec18);
    }
    #btn-descontar:hover{
        @include btnHover(#0ca007, #0ca007);
    }
}
.row-ex8{
    @include borderBlack();
    @include centralizar();
    flex-wrap: wrap;
    padding: 1px 20px 14px 20px;
    width: 260px;
    .row-ex8-idade{
        margin: inherit;
        padding-right: 2px;
        margin-top: 1vh;
    }
    .age{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1vh;
        height: 4vh;
        .col-age{
            @include borderBlack();
            border: #b10cc7 2px solid;
            display: none;
            padding: 1px 4px 1px 4px;
            font-weight: 700;
            color: #b10cc7;
            margin-top:4% !important;
        } 
    }
    #idade{
        width: 7vh;
        margin: inherit;
        margin-right: 6px;
        margin-top: 1vh;
    }
    #btn-menorMaior{
        @include buttonBot(#d20dec, #d20dec);
        margin-top: 1vh;
    }
    #btn-menorMaior:hover{
        @include btnHover(#b10cc7, #b10cc7);
    }


}
.ex9{
    @include centralizar();
    @include borderBlack();
    padding: 5vh;
    max-height: 500px;
    #repeat{
        font-weight: 700;
        color:#12727a;
    }
    .repetir{
        @include buttonBot(#12727a, #12727a);
    }
    .repetir:hover{
        @include btnHover(#05454b, #05454b);
    }
}
.ex10{
    @include centralizar();
    @include borderBlack();
    padding: 5vh;
    max-height: 500px;
    #tabuada{
        font-weight: 700;
        color:#171583;
    }
    #numero{
        padding-right: 4px;
        margin-right: 1vh;   
        margin-left: 1vh;
        width: 8vh;
        margin-top: 0;
    }
    .exibir{
        @include buttonBot(#312f9c, #312f9c);
    }
    .exibir:hover{
        @include btnHover(#171583, #171583);
    }
}
.ex11{
    @include centralizar();
    @include borderBlack();
    flex-direction: column;
    height: fit-content;
    #frase, #frase2{
        color:#000000;
        padding-left: 1vh;
        padding-right: 1vh;
        margin-bottom: 0!important;
    }
    #frase{
        margin-top: 10vh;
    }
    .analisar{
        @include buttonBot(#338376, #338376);
    }
    .analisar:hover{
        @include btnHover(#14695b, #14695b);
    }
}
.ex12{
    @include centralizar();
    @include borderBlack();
    padding: 2vh;
    .random{
        @include buttonBot(#7df0b1, #7df0b1);
    }
    .random:hover{
        @include btnHover(#48eb91, #48eb91);
    }
    .num{
        margin-top: 0;
        width: 12vh;
    }
}
.ex13{
    @include centralizar();
    @include borderBlack();
    padding: 2vh;
    #date{
        @include borderBlack();
        border: #1f4366 2px solid;
        color:#1f4366;
        font-weight: 700;
        margin: auto;
        padding: 1vh;
        margin-right: 1vh;
        display: none;
    }
    .acao{
        @include buttonBot(#5194d3, #5194d3);
    }
    .acao:hover{
        @include btnHover(#2f77b9, #2f77b9);
    }
}
.ex14{
    @include centralizar();
    @include borderBlack();
    padding: 2vh;
    width: 68vh;
    flex-wrap: wrap;
    .pop-out{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1vh;
        height: 4vh;
    }
    .col-vetor{
        @include borderBlack();
        border: #2eb34b 2px solid;
        color:#2eb34b;
        font-weight: 700;
        padding-left: 2px;
        padding-right: 2px;
        margin-right: 1vh;
        display: none;
    }
    #seu-array{
        padding-right: 4px;
        margin-right: 1vh;   
        margin-left: 1vh;
        width: 50vh;
        margin-top: 0;
    }
    .tamanho{
        @include buttonBot(#51d36d, #51d36d);
    }
    .tamanho:hover{
        @include btnHover(#2eb34b, #2eb34b);
    }
}
.ex15{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 2rem;
    .column-quantias{
        display: flex;
        flex-direction: column;
    }
    .label-quantidades{
        margin-bottom: 0;
    }
}
.container-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 11rem;
}
@import "../../bootstrap/scss/functions";
@import "../../bootstrap/scss/variables";
@import "../../bootstrap/scss/mixins";
@import "../../bootstrap/scss/grid";
@import "../../bootstrap/scss/buttons";
@import "../../bootstrap/scss/forms";
@import "../../bootstrap/scss/navbar";
@import "../../bootstrap/scss/reboot";
@import "../../bootstrap/scss/utilities";
@import "../../bootstrap/scss/transitions";
@import "../../bootstrap/scss/type";

.container-lg{
    @include centralizar();
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:2%;
    margin:auto !important;
    padding: 0!important;
    .text{
        padding-right:4px;
        margin:0;
        margin-bottom: 0;
        margin-top: 1em;
    }
    input{
        height: 27px;
        padding-right: 4px;
        margin-top: 1em;
    }
}
