.container-lg{
    display:flex;
    margin: 2rem 2rem;
    gap:2rem;
}

.caixa-eletronico{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}

.list{
    background: aliceblue;
    height:20rem;
    width:10rem;
    overflow-y:auto;
    padding:0 1rem;
}